 <% include layout %>
 	<link href="/public/css/modal.css" rel="stylesheet" type="text/css">
 	<script src="/public/js/modal.js"></script>
 	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
     google.charts.load('current', {packages: ['corechart']});     
   </script>
 	<script>
 		function del(postId){
 			var r=confirm("Do you want to delete this link "+postId+"?");
 			if(r==false)
 			{
 				return ;
 			}
 			$.ajax({
 				type:'POST',
 				url:'/deletepost',
 				data:{
 					postId:postId
 				},
 				success:function(){
 					console.log("Deleted");
 					$(document).ajaxStop(function() { location.reload(true); });
 				},
 				error:function(err)
 				{
 					console.log(err);
 				}
 			});
 		}
 	</script>
 	<body>
		<div class="container">
			<br />
			<p class="clementine-text">Voting-App</p>
			<center><button class="btn btn-primary" onclick="location.href='/postadd'">NEW POST</button></center>
		</div>
		<div id="myModal" class="modal">
			<div class="modal-content">
				<span id="close">&times;</span>
					<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
</body>
			</div>
		</div>
		<ul class="list-group">
		<% posts.forEach(function(post){%>
			<div>
				<li class="list-group-item"><%= post.val %>&nbsp&nbsp<a href="/link/<%=post._id%>"><%=post._id%></a><button class="btn btn-primary" id="test" onclick="func('<%=post._id%>')">View</button><button class="btn btn-danger" onclick="del('<%=post._id%>')">Delete</button><br>
			</div>
		<%}) %>
		</ul>
	</body>

</html>