 <% include layout %>
  	<link href="/public/css/modal.css" rel="stylesheet" type="text/css">
 	<script src="/public/js/modal.js"></script>
 	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
     google.charts.load('current', {packages: ['corechart']});     
   </script>
	<body>
	<script>
	function test(postid,optionid){
		console.log(postid);
		console.log(optionid);
		$.ajax({
			type:"POST",
			url:"/update_post",
			data:{
				postId:postid,
				optionId:optionid
			},
			success:function(res)
				{
					console.log("test success");
				},
			error:function(err)
			{
				console.log(err);
			}
		}).done(func(postid));
	}
	</script>
	<h1></h1><br>
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span id="close">&times;</span>
				<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
</body>
			</div>
		</div>
	<div class="jumbotron">
	<p><%= Post[0].val %></p>
	<ul class="list-group">
	<%Post[0].option.forEach(function(post){%>
		<li class="list-group-item">
		<div class="btn btn-primary" onclick="test('<%=Post[0]._id%>','<%=post._id%>')">
		<%=post.name%>
		</div><%=post.click%><br>
	<%})%>
	</ul>
	<button class="btn btn-primary" id="test" onclick="func('<%=Post[0]._id%>')">View Result</button>
	</div>
	</body>