 <% include layout %>
  	<link href="/public/css/modal.css" rel="stylesheet" type="text/css">
 	<script src="/public/js/modal.js"></script>
	<body>
	<script>
	function test(postid,optionid){
		console.log(postid);
		console.log(optionid);
		$.ajax({
			type:"POST",
			url:"/update_post",
			data:{
				postId:postid,
				optionId:optionid
			},
			success:function(res)
				{
					console.log("test success");
					$(document).ajaxStop(function() { location.reload(true); });
				},
			error:function(err)
			{
				console.log(err);
			}
		});
	}
	</script>
	<h1></h1><br>
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span id="close">&times;</span>
				<p>You have been doomed</p>
			</div>
		</div>
	<div class="jumbotron">
	<p><%= Post[0].val %></p>
	<ul class="list-group">
	<%Post[0].option.forEach(function(post){%>
		<li class="list-group-item">
		<div class="btn btn-primary" onclick="test('<%=Post[0]._id%>','<%=post._id%>')">
		<%=post.name%>
		</div><%=post.click%><br>
	<%})%>
	</ul>
	<button class="btn btn-primary" id="test" onclick="func()">View Result</button>
	</div>
	</body>